[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
wikipedia-api = "*"
wikipedia = "*"
youtube-search2 = "*"
requests = "*"
youtube-search-python = "*"
yt-dlp = "*"
pytube = "*"

[dev-packages]

[requires]
python_version = "3.11"
