{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <!-- Chap tomon (Rasm) -->
        <div class="login-left d-none d-md-flex">
            <img src="{% static 'images/study.svg' %}" alt="Study">
        </div>

        <!-- O'ng tomon (Login forma) -->
        <div class="login-right">
            <div class="text-center mb-3">
                <img src="{% static 'images/logo-md.png' %}" alt="Logo" width="70">
                <h5 class="mt-2">LEARNING MANAGEMENT SYSTEM</h5>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-2">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="mb-2">
                                {{ form.password|as_crispy_field }}
                            </div>
                            <button type="submit" class="btn w-100 btn-custom" style="background-color: #1D2D5B; border-color: #1D2D5B; color: white;">
                                Kirish
                            </button>
                        </form>
            
                        <!-- Ro‘yxatdan o‘tish tugmasi -->
                        <div class="text-center mt-2">
                            <a href="{% url 'register' %}" class="btn register-btn w-100 btn-custom">Ro‘yxatdan o‘tish</a>
                        </div>
            
                        <div class="text-center mt-3">
                            <a href="{% url 'password_reset' %}" class="text-decoration-none text-muted">
                                Parolni unutdingizmi?
                            </a>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}




