{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block title %} Parolni almashtirish {% endblock title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Parolni almashtirish</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn" style="background-color: #1D2D5B; color: white;">Almashtirish</button>
                                <a href="{% url 'main' %}" class="btn btn-secondary">Ortga qaytish</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
