.navbar-custom {
    background-color: #1D2D5B;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #AAB7E2; 
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .btn-outline-light {
    border-color: white;
    color: white;
}

.navbar-custom .btn-outline-light:hover {
    background-color: white;
    color: #1D2D5B;
}

